1. 세션의 지속 시간을 분으로 계산하고 가장 긴 지속시간을 출력하시오(반올림 후 총 분만 출력)

In [3]:
import pandas as pd
# df = pd.read_csv("/kaggle/input/bigdatacertificationkr/website.csv")

In [5]:
df = pd.read_csv('1유형 2.csv')
df

      UserID            StartTime              EndTime   Page
0          1  2023-07-02 08:32:00  2023-07-02 12:41:00  Page1
1          1  2023-05-16 11:37:00  2023-05-16 13:29:00  Page5
2          1  2023-05-05 03:39:00  2023-05-05 05:48:00  Page2
3          1  2023-05-04 23:04:00  2023-05-05 01:54:00  Page3
4          1  2023-09-04 11:27:00  2023-09-04 14:09:00  Page1
...      ...                  ...                  ...    ...
9596    1202  2023-06-26 09:43:00  2023-06-26 13:43:00  Page3
9597    1202  2023-11-17 02:21:00  2023-11-17 04:31:00  Page3
9598    1202  2023-03-07 14:56:00  2023-03-07 17:27:00  Page2
9599    1202  2023-07-24 03:22:00  2023-07-24 06:58:00  Page2
9600    1202  2023-04-03 23:18:00  2023-04-04 03:55:00  Page5

[9601 rows x 4 columns]

In [12]:
df['StartTime_dt'] = pd.to_datetime(df['StartTime'])

df['EndTime'] = pd.to_datetime(df['EndTime'])

df['지속시간'] = (df['EndTime'] - df['StartTime_dt']).dt.total_seconds() / 60 
df['지속시간'].max()

300.0

In [13]:
print(300)

300

# 2번
## 2. 가장 많이 머무른 Page를 찾고 그 페이지의 머문 평균 시간을 구하시오 (반올림 후 총 시간만 출력)

In [23]:
page_max = df.pivot_table(index = 'Page', values = '지속시간', aggfunc = 'sum').sort_values(by = '지속시간', ascending =False).head(1).index[0]

In [24]:
page_max

'Page5'

In [30]:
round(df.loc[df['Page'] == page_max]['지속시간'].mean()/60)

3

# 3번. 
## 사용자들이 가장 활발히 활동하는 시간대(예: 새벽, 오전, 오후, 저녁)를 분석하세요. 이를 위해 하루를 4개의 시간대로 나누고 각 시간대별로 가장 많이 시작된 세션의 수를 계산하고, 그 중에 가장 많은 세션 수를 출력하시오
    - 새벽: 0시 부터 6시 전
    - 오전: 6시 부터 12시 전
    - 오후: 12 부터 18시 전
    - 저녁: 18시 부터 0시 전

In [31]:
def time_split(hour):
    if 0 <= hour < 6:
        return "새벽"
    elif 6 <= hour < 12:
        return "오전"
    elif 12 <= hour < 18:
        return "오후"
    else:
        return "저녁"

In [43]:
df['시작시간'] = df['StartTime_dt'].dt.hour

df['시간대'] = df['시작시간'].apply(time_split)
df['시간대'].value_counts()[0]

C:\Users\campus2H058\AppData\Local\Temp\ipykernel_20924\354401308.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['시간대'].value_counts()[0]

2447

# 4번
## 4. user가 가장 많이 접속 했던 날짜를 출력하시오. (예, 2023-02-17)

In [54]:
df['StartTime_day'] = df['StartTime_dt'].dt.strftime('%Y-%m-%d')


df.pivot_table(index = 'StartTime_day' , values = 'UserID', aggfunc = 'count').sort_values(by = 'UserID', ascending = False).index[0]

'2023-03-28'

풀이

In [ ]:
# 1
# 날짜 형식으로 변환
df['StartTime'] = pd.to_datetime(df['StartTime'])
df['EndTime'] = pd.to_datetime(df['EndTime'])
df['SessionDuration'] = (df['EndTime'] - df['StartTime']).dt.total_seconds() / 60
print(df['SessionDuration'].max())

In [ ]:
# 2
most_visited_page = df['Page'].value_counts().idxmax()
cond = df['Page'] == most_visited_page
result = df[cond]['SessionDuration'].mean()
print(round(result/60))

In [ ]:
# 3
def time_slot(hour):
    if 0 <= hour < 6:
        return "새벽"
    elif 6 <= hour < 12:
        return "오전"
    elif 12 <= hour < 18:
        return "오후"
    else:
        return "저녁"

df['TimeSlot'] = df['StartTime'].dt.hour.apply(time_slot)
print(df['TimeSlot'].value_counts()[0])

In [ ]:
# 4
result = df['StartTime'].dt.date.value_counts().index[0]
print(result.strftime('%Y-%m-%d'))