In [1]:
import pandas as pd

In [2]:
# 데이터 경로 바꾸시오
df = pd.read_csv("basic1.csv")
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

## 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼의 결측치를 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼의 결측치를 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오
### 단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

In [18]:
len(df)
dfA = df[:50]
dfB = df[50:]

dfA['f1'].fillna(dfA['f1'].median(), inplace = True)
dfB['f1'].fillna(dfB['f1'].max(), inplace = True)

round(dfA['f1'].std()+ dfB['f1'].std(),1)

C:\Users\campus2H058\AppData\Local\Temp\ipykernel_15904\2479509348.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfA['f1'].fillna(dfA['f1'].median(), inplace = True)
C:\Users\campus2H058\AppData\Local\Temp\ipykernel_15904\2479509348.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA['f1'].fillna(dfA['f1'].median(), inplace = True)
C:\Users\campus2H058\AppData\Local\Temp\ipykernel_15904\2479509348.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfB['f1'].fillna(dfB['f1'].max(), inplace = True)
C:\Users\campus2H058\AppData\Local\Temp\ipykernel_15904\2479509348.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfB['f1'].fillna(dfB['f1'].max(), inplace = True)

42.0

## 2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함
### 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [29]:
p3 = round(df.sort_values(by = 'f5').sort_values(by = 'f4', ascending = False).head(10)['f5'].min(),2)
p3

17.25

In [39]:
df['f5'][:10] = 17.25
round(df['f5'].mean(),2)

C:\Users\campus2H058\AppData\Local\Temp\ipykernel_15904\3721478312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f5'][:10] = 17.25

53.66

## 3. 'age' 컬럼의 IQR방식을 이용한 이상치 개수와 표준편차*1.5방식을 이용한 이상치의 개수를 더하시오
- IQR방식 : Q1 - 1.5 * IQR, Q3 + 1.5 * IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)
- 표준편차*1.5방식: 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [55]:
df['age'].describe()

iqr = 52.5
q1 = 26.875
q3 = 77

q1_out = q1 - iqr*1.5
q2_out = q3 + iqr*1.5

cond1 = df['age'] < q1_out
cond2 = df['age'] > q2_out

df_ans1 = df.loc[cond1 |cond2]
len(df_ans1)

0

In [60]:
mean_age = df['age'].mean()

std_age = df['age'].std()

less_age = mean_age - std_age*1.5 
large_age  = mean_age + std_age*1.5

cond1 = df['age'] < less_age
cond2 = df['age'] > large_age

df_ans2 = df.loc[cond1 |cond2]
len(df_ans2)

14